body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
/*|Beginning of CSS style for the index page */

section:nth-child(1){
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(87, 98, 119);
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 3.4rem;
    color: #56a5eb;
  }

  .btn {
    font-size: 1.2rem;
    padding: 0.5rem 0.2rem;
    width: 10rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  /*End of CSS style for index page  */